<!--User Profile Starts-->
<!--Basic User Details Starts-->
<section id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card profile-with-cover">
                <div class="card-img-top img-fluid bg-cover height-300" style="background: url('assets/img/photos/14.jpg') 50%;"></div>
                <div class="media profil-cover-details row">
                    <div class="col-2">
                        <div class="align-self-center halfway-fab text-center">
                            <a class="profile-image">
                                <img [src]="data.image" class="rounded-circle img-border gradient-summer width-100" alt="Card image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="media-body halfway-fab align-self-end">
                        <div class="text-right d-none d-sm-none d-md-none d-lg-block">
                            <button type="button" class="btn btn-primary btn-raised mr-2" (click)="open('pass')">
                                <i class="fa ft-hash"></i> Cambiar Contraseña</button>
                            <button type="button" class="btn btn-success btn-raised mr-3">
                                <i class="fa ft-camera"></i> Cambiar Imagen</button>
                        </div>
                    </div>
                </div>
                <div class="profile-section">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 text-center">
                            <input type="text" class="font-medium-2 text-uppercase info" value={{nombre}} disabled="false">
                            <input type="text" class="grey font-small-2 info" [(ngModel)]="users.display_name" name="a" #a="ngModel" disabled="false">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic User Details Ends-->

<!--About section starts-->
<div class="row">
    <div class="col-12">
        <div class="content-header">Acerca de</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Información Personal</h5>
            </div>
            <form class="pt-4" (ngSubmit)="onChange()" #f="ngForm">
                <div class="card-body">
                    <div class="card-block">
                        <div class="row" *ngIf="pass">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="credential">Contraseña Actual: </label>
                                    <div class="col-md-9">
                                        <fieldset>
                                            <div class="input-group">
                                                <input required type="password" class="form-control border-primary" name="cPass" id="cPass"  [(ngModel)]="cPass">
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="credential">Nueva Password: </label>
                                    <div class="col-md-9">
                                        <fieldset>
                                            <div class="input-group">
                                                <input required class="form-control border-primary" type="password" id="credential" name="credential" #credential="ngModel" [(ngModel)]="users.credential">
                                            </div>
                                            <small *ngIf="msjPass" class="label label danger">{{msjPass}}</small>
                                            <div class="input-group-append">
                                                <span class="input-group-btn" id="button-addon4">
                                                    <button type="submit" class="btn btn-raised btn-primary" [disabled]="!f.form.valid">
                                                        <i class="fa fa-check-square-o"></i> Guardar
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-raised" (click)="onCancel()">Cancelar</button>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="parameters">Parámetros Password: </label>
                                    <div class="col-md-9">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr *ngFor="let item of paramPass">
                                                    <td>Min Characters</td>
                                                    <td>{{item.minChain}}</td>
                                                    <td>Max Characters</td>
                                                    <td>{{item.maxChain}}</td>
                                                </tr>
                                                <tr *ngFor="let item of paramPass">
                                                    <td>Min Numbers</td>
                                                    <td>{{item.minNumber}}</td>
                                                    <td>Max Numbers</td>
                                                    <td>{{item.maxNumber}}</td>
                                                </tr>
                                                <tr *ngFor="let item of paramPass">
                                                    <td>Min Special</td>
                                                    <td>{{item.minSpecial}}</td>
                                                    <td>Max Special</td>
                                                    <td>{{item.maxSpecial}}</td>
                                                </tr>
                                                <tr *ngFor="let item of paramPass">
                                                    <td>Min Alphabetics</td>
                                                    <td>{{item.minAplha}}</td>
                                                    <td>Max Alphabetics</td>
                                                    <td>{{item.maxAplha}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary">
                                            <a>
                                                <i class="ft-alert-circle font-small-3"></i> Institución:</a>
                                        </span>
                                        <ul class="ul" *ngFor="let int of institutionItems">
                                            <li>
                                                {{int.name}}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary">
                                            <a>
                                                <i class="ft-grid font-small-3"></i> Perfiles:</a>
                                        </span>
                                        <ul class="ul" *ngFor="let prf of profileItems">
                                            <li>
                                                {{prf.name}}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary">
                                            <a>
                                                <i class="ft-copy font-small-3"></i> Páginas:</a>
                                        </span>
                                        <ul class="ul" *ngFor="let pag of pagesItems">
                                            <li>
                                                {{pag.name}}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>