body {
  width: 100%;
  margin: 0px;
  min-width: 600px;
  max-width:100%;
  padding: 0px;
  min-height: 500px;
  font-family: "Rubik","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.content-wrapper {
  padding: 0px !important;
}
.content-fluid {
  padding: 0px !important;
}
#forgot-password {
  background-image: url(/assets/img/fondo.jpg);
  background-repeat: repeat;
  fill: rgb(235, 235, 236);
  font-family: "Rubik","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  height: auto;
  width: 100%;
  margin: 0px;
  max-width:100%;
  padding: 0px;
}
.card  {
  background-color: white;
  border-color: rgb(235, 235, 235);
  border-width: 1px; 
  border-style: solid;
  min-height: 300px;
  max-height: 820px;    
  height: auto;
}
.card-block  {
  overflow: hidden;
  display: block;
}
.card-block .title {
  font-size: 20px !important;
  font-weight: bold;
  color: #03488a !important; 
  fill: #03488a !important; 
  text-align: center;
  margin-top: 0px;
}
.h2 {
  font-size: 18px;
  font-weight: bold;
  color: #03488a;
  fill: #03488a;
}
.table {
  overflow: auto;
  display: block;
  height: 200px;
  min-height: 50px;
  max-height: 250px;
  color: #03488a;  
}
.card-img  {
  background-color: white;
  height: auto;
  margin-top:0px;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}
.form-section {
  height: 40px;
  margin-top:0px;
  width: 100%;
  margin-bottom: 0px;
  align-items: center;
  font-size: 13px;
}
.card-block .black {
  font-size: 14px !important;
  color: #666666 !important; 
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
}
.pink {
  color: #666666 !important;
  font-size: 13px;
  width: 50px;
  text-align: right;
}
.card-xcash   {
  background-color: white;
  height: auto;
  margin-top:10px;
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
}
.card-xcash  img  {
  background-color: white;
  height: auto;
  margin-top:0px;
  width: 50px;
  margin-bottom: 0px;
}
.form {
  float: right;
  padding-right: 15px;
}
.animated {
  position: relative;
  -webkit-animation: myfirst .3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  animation: myfirst .3s;
  animation-direction: alternate;
}
.fast  {
  position: relative;
  -webkit-animation: myfirst .3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  animation: myfirst .3s;
  animation-direction: alternate;
}
@-webkit-keyframes myfirst {
  0%   {background: white; left: 100px; top: 0px;opacity: 0;}
  100% {background: white; left: 0px; top: 0px;opacity: 1;}
}
@keyframes myfirst {
  0%   {background: white; left: 100px; top: 0px;opacity: 0;}
  100% {background: white; left: 0px; top: 0px;opacity: 1;}
}

@media screen and (max-width:640px) {
#login {
  width:100%;
}
  .card  {
      background-color: white;
      border-color: rgb(235, 235, 235);
      border-width: 1px; 
      border-style: solid;
      min-height: 300px;
      max-height: 620px;    
      height: 620px;
      width: 90%;
  }
}
@media screen and (max-width:480px) {
  .card  {
      background-color: white;
      border-color: rgb(235, 235, 235);
      border-width: 1px; 
      border-style: solid;  
      height: 620px;
      width: 100%;
      margin-top: 0px !important;
  }
  .btnUser {
      height: 50px;
      width: 70% !important;
      text-align: left;
  }
  .btn_remove {
      height: 50px;
      width: 65%;
      text-align: left;
  }
  .btn_remove:hover {
      color:  #03488a;
  }
  .btn_trash {
      height: 50px;
      width: 5%;
      text-align: left;
  }
  .btn_trash:hover {
      background-color: red;
      color: white;  
  }
  .table .scrollbar-track {
      background-color: #03488a;
  }
  
}