<!--Forgot Password Starts-->
<section id="forgot-password">
    <div class="container-new">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card white text-center width-500">
                        <div class="card-img">
                            <img alt="element 06" class="mb-1" src="assets/img/X_console_.png" width="80">
                        </div>
                    <div class="card-body">
                        <div class="card-block">
                           <div class="animated fast">
                            <div class="text-center">
                                <h4 class="title">Cambio de Contraseña</h4>
                            </div>
                            <form class="pt-4" (ngSubmit)="onSubmit()" #fp="ngForm">                                
                                <div class="form-group">
                                        <p class="black" style="text-align: left !important">Cuenta de Usuario</p>
                                        <input type="text" id="user" class="form-control border-primary" name="user" #user="ngModel" [(ngModel)]="Usuario" placeholder="Cuenta de Usuario"
                                         maxlength="10" style='text-transform:lowercase' pattern="[a-z0-9\.]+"><br>                                        
                                        <p class="black" style="text-align: left !important">Clave Antigua </p>
                                        <input type="text" class="form-control" name="old" id="old" #old="ngModel" [(ngModel)]="claveActual" placeholder="Clave Antigua" ngModel><br>                                         
                                        <p class="black" style="text-align: left !important">Clave Nueva</p>
                                        <input type="password"  class="form-control" name="new"  #new="ngModel" [(ngModel)]="claveNueva" required placeholder="Password Actual"><br>                                 
                                        <span *ngIf="old.touched && !old.valid" class="label label danger">Password Incorrecto</span>                                        
                                </div>
                                <div class="form-group pt-2">
                                    <div class="form">
                                        <button type="button" class="btn btn-secondary btn-raised " [routerLink]="['/login']">Cancelar</button>
                                        <button type="submit" class="btn btn-indigo btn-raised" [disabled]="!fp.form.valid">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                    <div class="card-footer">
                            <div class="float-left">
                                <a (click)="onLogin()" class="pink">Login</a>
                            </div>
                            <div class="float-right white">New User? <a (click)="onRegister()">Register Now</a></div>-->
                        </div>
                    <div class="card-xcash">
                        <img alt="element 06" class="mb-1" src="assets/img/logo_xcash.png" width="190">
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Forgot Password Ends-->