<div *ngIf="!divEnabled">
  <app-profilemanagement (datos)="recibirDatos($event)"></app-profilemanagement>
</div>
<!-- Basic form layout section start -->
<div *ngIf="divEnabled">
  <section id="horizontal-form-layouts">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="horz-layout-colored-controls">Perfiles</h4>
          </div>
          <div class="card-body">
            <div class="px-3">
              <form class="form form-horizontal" (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="form-body">
                  <h4 class="form-section">
                    <i class="ft-info"></i>Perfil</h4>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="description">Descripción: </label>
                        <div class="col-md-9">
                          <input type="text" class="form-control border-primary" name="description" #description="ngModel"
                            [(ngModel)]="profile.name" required>
                          <small *ngIf="description.touched && !description.valid" class="label label danger">Descripción Inválida</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="enabled">Habilitado: </label>
                        <div class="col-md-9">
                          <select id="enabled" class="form-control border-primary" name="enabled" #enabled="ngModel"
                            [(ngModel)]="opcEnabled" [ngModelOptions]="{standalone: true}" [(ngModel)]="profile.enabled">
                            <option value="true" selected>True</option>
                            <option value="false">False</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="pages">Páginas:</label>
                        <div class="col-md-9">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!---->
                  <ngx-datatable #tbl class="table table-striped" [rows]='rows' [columnMode]='"force"' [headerHeight]="40"
                    [footerHeight]="40" [rowHeight]="'auto'" >
                    <ngx-datatable-column prop="nameSec" name="Sección"></ngx-datatable-column>
                    <ngx-datatable-column prop="nameSub" name="Sub Menú"></ngx-datatable-column>
                    <ngx-datatable-column prop="descripcion" name="Descripción"></ngx-datatable-column>
                    <ngx-datatable-column prop="name" name="path"></ngx-datatable-column>
                    <ngx-datatable-column prop="enabled" name="Habilitado">
                      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <ui-switch *ngIf="value == 'true'" (change)="onChange($event, row)" [checked]="true"></ui-switch>
                        <ui-switch *ngIf="value == 'false'" (change)="onChange($event, row)" [checked]="false"></ui-switch>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>

                  <!---->
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-danger btn-raised" (click)="onCancel()" [routerLink]="['/profiles']">Cancel</button>
                  <button type="submit" class="btn btn-raised btn-primary" [disabled]="!f.form.valid">
                    <i class="fa fa-check-square-o"></i> Guardar
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- // Basic form layout section end -->