.dx-select {

  .dx-tag-content {
    padding: 0 25px 4px 6px;
    margin-top: 4px;
  }

  .dx-texteditor.dx-editor-outlined {
     font-weight: 400;
     font-size: 1rem;
     height: 38px;
     color: #75787d;
     border-color: #009DA0;
     padding: 0 0 0 .50rem;
     line-height: 1.5;
     font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
   }

}
