<div class="row">
  <div class="modal-header width-100p">
    <h4 class="modal-title">Detalle: {{glosa}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="cerrar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <dx-data-grid class="max-width-100"
                  id="tableDOperaciones"
                  [dataSource]="operaciones"
                  keyExpr="atributo"
                  [showRowLines]="true"
                  [rowAlternationEnabled]="true"
                  [allowColumnReordering]="true"
                  [showBorders]="true"
                  [showColumnLines]="false"
                  [wordWrapEnabled]="true"><!-- Inicio de la tabla de operaciones -->

      <dxo-paging [enabled]="false"></dxo-paging>

      <dxi-column dataField="atributo" caption="Atributo" alignment="left">
      </dxi-column>
      <dxi-column dataField="valor" caption="Valor" alignment="left">
      </dxi-column>
    </dx-data-grid><!-- Fin de la tabla de operaciones -->

  </div>
</div>
