<!-- Basic form layout section start -->
<section id="horizontal-form-layouts">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" id="horz-layout-colored-controls">Gestión de Usuarios</h4>
        </div>
        <div class="row">
          <div class="col-sm-6" style="padding-left: 5%">
            <input type='text' class="search" placeholder="Escriba para filtrar..." (keyup)='updateFilter($event)'
            />
          </div>
          <div class="col-sm-6 text-right" style="padding-right: 5%">
            <button type="submit" class="btn btn-raised btn-primary" [routerLink]="['/users','new']">
              <i class="fa fa-check-square-o"></i> Nuevo Usuario
            </button>
          </div>
        </div>
        <br/>
        <div class="card-body">
          <div class="px-3">
            <form class="form form-horizontal">
              <div class="form-body">
                <div class="row">
                  <div class="col-sm-12">
                    <ngx-datatable #tblUsr class="striped" [rows]='rows' [columnMode]='"force"' [headerHeight]="40" [footerHeight]="40" [rowHeight]="'auto'">
                      <ngx-datatable-column prop="DISPLAY_NAME" name="Usuario">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <a class="nav-link" [routerLink]="['/users']" (click)="onSubmit(rowIndex)" style="padding: 0rem 0rem !important">{{value}}</a>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="FIRST_NAME" name="Nombres"></ngx-datatable-column>
                      <ngx-datatable-column prop="LAST_NAME" name="Apellidos"></ngx-datatable-column>
                      <ngx-datatable-column prop="EMAIL" name="Email"></ngx-datatable-column>
                      <ngx-datatable-column prop="DIRECTORIES_NAME" name="Directorio"></ngx-datatable-column>
                      <ngx-datatable-column prop="PROFILES" name="Perfiles">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                <ul *ngFor="let prf of value" style="list-style:none; margin:0; padding:0">
                                    <li>{{prf}}</li>
                                  </ul>
                              </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="ENABLED" name="Habilitado">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <ui-switch *ngIf="value == 'true'" (click)="onChange(this.row)" [checked]="true"></ui-switch>
                          <ui-switch *ngIf="value == 'false'" (click)="onChange(this.row)" [checked]="false"></ui-switch>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Basic form layout section end -->