<section id="horizontal-form-layouts">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <div class="form-body">
              <form  class="form form-horizontal" [formGroup]="formTipo" (ngSubmit)="buscar()">
                <div class="card-header">
                  <h4 class="card-title"><i class="ft-list"></i>Tipo de Cambio</h4>
                </div>
 
                <!--Comienzo de filtros para busqueda-->
                <div class="row">
                  <!--Filtro Fecha Desde-->
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Fecha Desde</label>
                      <div class="input-text-filter">
                        <input class="form-control border-primary" placeholder="dd-mm-yyyy" name="fini"
                               formControlName="inputIni" ngbDatepicker #d1="ngbDatepicker" maxlength="10" readonly>
                      </div>
                      <div class="input-group-append">
                        <div class="input-group-text border-primary" (click)="d1.toggle()">
                          <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Filtro Fecha Hata-->
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Fecha Hasta</label>
                      <div class="input-text-filter">
                        <input class="form-control border-primary" placeholder="dd-mm-yyyy" name="ffin"
                               formControlName="inputFin" ngbDatepicker #d2="ngbDatepicker" maxlength="10" readonly>
                      </div>
                      <div class="input-group-append">
                        <div class="input-group-text border-primary" (click)="d2.toggle()">
                          <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <!--Tipo de moneda-->
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Moneda: </label>
                      <div class="input-text-filter">
                        <select formControlName="moneda" class="form-control border-primary" name="moneda">
                          <option value="" selected>Seleccione...</option>
                              <option *ngFor="let emp of glosar" value={{emp.item}}>{{emp.glosa}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-actions right">
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa ft-search"></i> Buscar
                  </button>
                  &nbsp;
                  <button type="button" class="btn btn-raised gradient-mint white" (click)="openCarga2()">
                       Carga Masiva
                    </button>
                </div>

                <dx-data-grid id="tableTurno" class="mb-3 max-width-none"
                              [dataSource]="data"
                              keyExpr="id"
                              [showRowLines]="true"
                              [rowAlternationEnabled]="true"
                              [allowColumnReordering]="true"
                              [showBorders]="true"
                              [showColumnLines]="false"
                              [wordWrapEnabled]="true" [noDataText]="noDataText"
                              (onRowRemoved)="eliminar($event)"
                              (onRowUpdated)="onEditar($event)"
                              (onRowInserted)="addCuenta($event)"
                              (onEditorPreparing)="onEditorPreparing($event)">

                    <dxo-editing
                              mode="form"
                              [allowUpdating]="true"
                              [allowAdding]="true"
                              [allowDeleting]="true"
                              [useIcons]="true">
                              <dxo-texts saveRowChanges="Guardar" cancelRowChanges="Cancelar" editRow="Editar" >
                              </dxo-texts>
                    </dxo-editing>

                  <dxi-column dataField="fecha_desde" dataType="date" format="yyyy-MM-dd" caption="Desde" alignment="left">
                      <dxi-validation-rule type="required"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column dataField="fecha_hasta" dataType="date" format="yyyy-MM-dd" caption="Hasta" alignment="left">
                      <dxi-validation-rule type="required"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column dataField="moneda" caption="Moneda" alignment="left">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                    <dxo-lookup [dataSource]="glosar" displayExpr="glosa" valueExpr="item"></dxo-lookup>
                  </dxi-column>
                  <dxi-column dataField="valor" caption="Valor" format=",###,###,##0"
                  [customizeText]="onEditorPreparingValor" alignment="right">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                </dx-data-grid>

              </form>
<!--
              <ng-template #detalle>
                <app-turno-ope [busqueda]="busqueda" (view)="mostrarLista($event)"></app-turno-ope>
              </ng-template>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

