<div *ngIf="!divEnabled">
        <app-sucursales (datos)="recibirDatos($event)" ></app-sucursales>
</div>
<div *ngIf="divEnabled">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-colored-controls">Detalle Sucursal</h4>
                    </div>
                    <div class="card-body">
                        <div class="px-3">
                            <form class="form form-horizontal" #f="ngForm" (ngSubmit)="guardar()">
                                <div class="form-body">
                                    <h4 class="form-section">
                                        <i class="ft-list"></i>Sucursal</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="rex">Empresa (Rex):</label>
                                                <div class="col-md-9"> 
                                                    <select disabled class="form-control border-primary" name="rex" #rex="ngModel"
                                                        [(ngModel)]="sucIU.rex" [ngModelOptions]="{standalone: true}">
                                                        <option *ngFor="let emp of listEmpRex" selected value={{emp.rex}}>{{emp.descripcion}}</option>
                                                    </select>
                                                    <small *ngIf="msjRex" class="label label danger">Empresa Invalida</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="sucursal">Código:</label>
                                                <div class="col-md-9">
                                                    <input required type="text" id="sucursal" [disabled]="disabled"
                                                        class="form-control border-primary" name="sucursal" #sucursal="ngModel"
                                                        [(ngModel)]="sucIU.sucursal" maxlength="6">
                                                    <small *ngIf="sucursal.touched && !sucursal.valid" class="label label danger">Código
                                                        Invalido</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="des">Descripción:</label>
                                                <div class="col-md-9">
                                                    <input required type="text" id="des" class="form-control border-primary"
                                                        name="des" #des="ngModel" [(ngModel)]="sucIU.descripcion" maxlength="99">
                                                    <small *ngIf="des.touched && !des.valid" class="label label danger">Descripcion
                                                        Invalido</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="resp">Responsable:</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="resp" class="form-control border-primary"
                                                        name="resp" #resp="ngModel" [(ngModel)]="sucIU.properties.responsable" maxlength="20">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="email">Email:</label>
                                                <div class="col-md-9">
                                                    <input type="email" id="email" class="form-control border-primary"
                                                        name="email" #email="ngModel" [(ngModel)]="sucIU.properties.email"
                                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="50">
                                                    <small *ngIf="email.touched && !email.valid" class="label label danger">Email
                                                        Invalido</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="ref">Referencias:</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="ref" class="form-control border-primary"
                                                        name="ref" #ref="ngModel" [(ngModel)]="sucIU.properties.referencias" maxlength="1024">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="form-section">
                                        <i class="ft-list"></i>Montos Límites por Sucursal (Alertas)</h4>
                                    <div>
                                        <div class="right" *ngIf="!divLim">
                                            <button id="nLim" type="button" class="btn btn-raised btn-success" (click)="nuevo()">
                                                <i class="fa ft-plus"></i> Agregar Límite</button>
                                        </div>
                                        <div *ngIf="divLim">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="mon">Medio de Pago:</label>
                                                        <div class="col-md-9">
                                                            <select class="form-control border-primary" name="mod" #mod="ngModel"
                                                                [(ngModel)]="lim.medioPago">
                                                                <option value="" selected>Seleccione...</option>
                                                                <option *ngFor="let lis of listMP" value={{lis.codigo}}>{{lis.titulo}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 label-control" for="monto">Monto:</label>
                                                        <div class="col-md-9">
                                                            <input type="number" min=0 id="monto" class="form-control border-primary"
                                                                name="mon" #mon="ngModel" [(ngModel)]="lim.monto" maxlength="100"
                                                                onkeypress="if (event.keyCode == 13) {document.getElementById('addLim').click(); return false; }">
                                                        </div>
                                                    </div>
                                                </div>
                                                <small *ngIf="msjLim" class="label label danger">{{msjLim}}</small>
                                            </div>
                                            <div class="form-actions right">
                                                <button type="button" class="btn btn-danger btn-raised" (click)="cancel()">Cancelar</button>
                                                <button id="addLim" type="button" class="btn btn-raised btn-success"
                                                    (click)="addLim()">
                                                    <i class="fa ft-plus"></i> Agregar</button>
                                            </div>
                                        </div>
                                        <ngx-datatable class="bootstrap" [rows]="limites" [columns]="columns"
                                            [columnMode]="'force'" [rowHeight]="'auto'" [reorderable]="reorderable" 
                                            [messages]="{emptyMessage:'No hay resultados disponibles.'}">
                                            <ngx-datatable-column prop="medioPago" name="Medio de Pago"></ngx-datatable-column>
                                            <ngx-datatable-column prop="monto" name="Monto">
                                                <ngx-datatable-column>
                                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                                        let-row="row" let-value="value">
                                                        <span *ngIf="!editing[rowIndex + '-monto']">{{value | number}}</span>
                                                        <input *ngIf="editing[rowIndex + '-monto']" (blur)="updateValue($event, 'monto', rowIndex)"
                                                            [value]="value">
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                                    let-value="value" let-row="row">
                                                    <div style="text-align: right">
                                                        <a>{{row['monto'] | number}}</a>
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column prop='' name=''>
                                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                                    let-value="value" let-row="row">
                                                    <div *ngIf="!editing[rowIndex + '-monto']">
                                                        <i class="ft-edit-2 info font-medium-1 mr-2" (click)="editing[rowIndex + '-monto'] = true"
                                                            [id]="value" title="Editar"></i>
                                                        <i class="ft-x danger font-medium-1 mr-2" (click)="onEliminar(rowIndex)"
                                                            [id]="value" title="Eliminar"></i>
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                        </ngx-datatable>
                                        <div class="form-actions right">
                                            <button type="button" class="btn btn-info btn-raised" (click)="onVolver()">Volver</button>
                                            <button type="submit" class="btn btn-raised btn-primary" [disabled]="!f.form.valid">
                                                <i class="fa fa-check-square-o"></i> Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>