<div *ngIf="!divEnabled">
   <app-operaciones (datos)="recibirDatos($event)"></app-operaciones>
</div>
<div *ngIf="divEnabled">
    
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                      <div *ngIf="resultI.tipo != 'CIERRC'">
                            <h4 class="card-title" id="horz-layout-colored-controls">Detalle del Ticket</h4>
                        </div>
                        <div *ngIf="resultI.tipo == 'CIERRC'">
                            <h4 class="card-title" id="horz-layout-colored-controls">Detalle del Ticket de Cierre</h4>
                        </div>
                    
                    </div>
                
                    <div class="card-body">
                        <div class="px-3">
                            <form class="form form-horizontal">
                                <div class="form-body">
                                    <table  class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Rex</th>
                                                <th scope="col">Sucursal</th>
                                                <th scope="col">Terminal</th>
                                                <th scope="col">Usuario</th>
                                                <th scope="col">Turno</th>
                                                <th scope="col">Registro</th>
                                                <th scope="col">Operación</th>
                                                <th scope="col">Recaudación</th>
                                                <th scope="col">Monto</th>
                                                <th scope="col">Tipo</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Folio</th>
                                                                                          
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{resultI.rexGlosa}}</td>
                                                <td>{{resultI.sucursal}}</td>
                                                <td>{{resultI.terminalGlosa}}</td>
                                                <td>{{resultI.usuario}}</td>
                                                <td>{{resultI.turno}}</td>
                                                <td>{{resultI.fechaRegistro}}</td>
                                                <td>{{resultI.operacion}}</td>
                                                <td>{{resultI.fechaRecaudacion}}</td>
                                                <td>{{resultI.monto}}</td>
                                                <td>{{resultI.tipo}}</td>
                                                <td>{{resultI.estado}}</td>
                                                <td>{{resultI.folio}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--
                                    <h4 class="form-section">
                                        <i class="ft-list"></i>Detalles</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="rex">Terminal:</label>
                                                <div class="col-md-6">
                                                    <div class="input-text">
                                                        {{resultI.terminalGlosa}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="rex">Usuario:</label>
                                                <div class="col-md-6">
                                                    <div class="input-text">
                                                        {{resultI.usuario}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="rex">Turno:</label>
                                                <div class="col-md-6">
                                                    <div class="input-text">
                                                        {{resultI.turno}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="rex">Operación:</label>
                                                <div class="col-md-6">
                                                    <div class="input-text">
                                                        {{resultI.operacion}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="rex">Registro:</label>
                                                <div class="col-md-6">
                                                    <div class="input-text">
                                                        {{resultI.fechaRegistro}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="edo">Estado:</label>
                                                <div class="col-md-6">
                                                    <div class="input-text">
                                                        {{resultI.estado}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="rex">Recaudación:</label>
                                                <div class="col-md-6">
                                                    <div class="input-text">
                                                        {{resultI.fechaRecaudacion}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="rex">Timbre:</label>
                                                <div class="col-md-6">
                                                    <div class="input-text">
                                                        {{resultI.folio}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                -->

                                

                                    <small *ngIf="msj" class="label label danger">{{msj}}</small>
                                        <div class="card-block">
                                            <div class="form-actions right">
                                                <button type="button" class="btn btn-raised btn-secondary" (click)="anterior()"
                                                    [disabled]='antDisable'>
                                                    <i class="fa ft-rewind"></i> Anterior
                                                </button>
                                                <button type="button" class="btn btn-raised btn-secondary" (click)="siguiente()"
                                                    [disabled]='sigDisable'>
                                                    <i class="fa ft-fast-forward"></i> Siguiente
                                                </button>
                                            </div>
                                            
                                            <ngx-datatable #tblList class="bootstrap" [columnMode]="'force'" [rows]="rows"
                                                [headerHeight]="50" [rowHeight]="'auto'" [limit]="50" [scrollbarH]="true">
                                                <ngx-datatable-column prop="detalle" name="Detalle"></ngx-datatable-column>
                                                <ngx-datatable-column prop="instrumentoGlosa" name="Instrumento"></ngx-datatable-column>
                                                <ngx-datatable-column prop="monto" name="Monto">
                                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                                                        let-value="value" let-row="row">
                                                        <div style="text-align: right">
                                                            <a>{{value | number}}</a>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <ngx-datatable-column prop="calidadGlosa" name="Modalidad"></ngx-datatable-column>
                                                <div *ngIf="resultI.tipo != 'CIERRC'">
                                                    <ngx-datatable-column >
                                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                                        let-row="row">
                                                        <a href="javascript:void(0)" class="ft-search" title="Detalle"
                                                        (click)="open(content, rowIndex)" [id]="value">
                                                        </a>
                                                    </ng-template>
                                                    </ngx-datatable-column>
                                                </div>            
                                            </ngx-datatable>
                                        </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-info btn-raised" (click)="onVolver()"
                                        >Volver</button> <!-- [routerLink]="['/general/operaciones/consultas/operaciones']" -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Detalle: {{glosa}} </h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-detalle-ticket [datos]="datos"></app-detalle-ticket>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Cerrar</button>
            </div>
          </ng-template>
    </section>
</div>