<section id="horizontal-form-layouts">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <div class="form-body pb-3">
              <div class="card-header"><!-- Inicio cabecera donde se puede mostrar o ocultar los filtros -->
                <h4 class="card-title">
                  <i class="ft-list"></i>Consulta de Operaciones
                </h4>
              </div><!-- Fin cabecera donde se puede mostrar o ocultar los filtros -->
              <div class="form-actions">
                <div class="row">
                  <div class="col-md-12 table-main">
                    <dx-data-grid class="max-width-none"
                                  id="tableOperaciones"
                                  [dataSource]="operaciones"
                                  keyExpr="folio"
                                  [showRowLines]="true"
                                  [allowColumnReordering]="true"
                                  [showBorders]="true"
                                  [showColumnLines]="false"
                                  (onRowClick)="openDetalle($event)"
                                  [wordWrapEnabled]="true"
                                  [rowAlternationEnabled]="true" [noDataText]="noDataText"><!-- Inicio de la tabla de operaciones -->

                      <dxo-export [enabled]="true" [customizeExcelCell]="customizeExcelCell"></dxo-export>
                      <dxo-selection mode="single"></dxo-selection>
                      <dxo-paging [enabled]="false"></dxo-paging>
                      <dxo-search-panel [visible]=true placeholder="Buscar...">
                      </dxo-search-panel>
                      <dxo-grouping #expand [autoExpandAll]="true" ></dxo-grouping>

                      <dxi-column dataField="grupo" caption="" [visible]="false" [customizeText]="onEditorPreparingGroup"
                                  [groupIndex]="0" alignment="left" [encodeHtml]="false">
                      </dxi-column>
                      <dxi-column dataField="usuario" caption="Usuario" alignment="left">
                      </dxi-column>
                      <dxi-column dataField="turno" caption="Turno" alignment="left" [width]="90">
                      </dxi-column>
                      <dxi-column dataField="fechaRegistro" caption="Registro" alignment="left" [width]="90">
                      </dxi-column>
                      <dxi-column dataField="fechaRecaudacion" caption="Recaudación" alignment="left" [width]="100">
                      </dxi-column>
                      <dxi-column dataField="monto" caption="Monto" format=",###,###,##0"
                                  [customizeText]="onEditorPreparing" [width]="150" alignment="right">
                      </dxi-column>
                      <dxi-column dataField="moneda" caption="Moneda" [width]="80" [customizeText]="onEditorPreparingDetalle"
                                  alignment="left" [encodeHtml]="false">
                      </dxi-column>
                      <dxi-column dataField="conversion" caption="Conversion" format=",###,###,##0"
                                  [customizeText]="onEditorPreparing" [width]="90" alignment="right">
                      </dxi-column>
                      <dxi-column dataField="total" caption="Monto Total" format=",###,###,##0"
                                  [customizeText]="onEditorPreparing" [width]="150" alignment="right">
                      </dxi-column>
                      <dxi-column dataField="tipoGlosa" caption="Tipo" alignment="left">
                      </dxi-column>
                      <dxi-column dataField="estadoGlosa" caption="Estado" alignment="left">
                      </dxi-column>
                      <dxi-column dataField="folio" caption="Folio" alignment="left">
                      </dxi-column>
                      <dxi-column dataField="detalle" [width]="280" caption="Detalle" [customizeText]="onEditorPreparingDetalle"
                                  alignment="left" [encodeHtml]="false">
                      </dxi-column>
                    </dx-data-grid><!-- Fin de la tabla de operaciones -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
