<div class="modal-header">
  <h4 class="modal-title">Asignación Transacción - Cuenta contable</h4>
  <button type="button" class="close" aria-label="Close" (click)="cerrar()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <form [formGroup]="formAsignacion" (ngSubmit)="addCCI()" fxLayout="row wrap" fxFlexAlign="center start">

    <div fxFlex="100" fxLayout="column" fxLayoutGap="2%">

        <div fxFlex="100" fxLayout="row" class="mb-2">
          <label fxFlex="35" class="label-control">Tipo Transacción</label>
          <div fxFlex="65" class="input-text">
            <select formControlName="tipo" class="form-control border-primary" (change)="tipoMedioPago($event)">
              <option value="" disabled selected>Seleccione...</option>
              <option value="ins">Instrumento</option>
              <option value="mpago">Medio De Pago</option>
            </select>
          </div>
        </div>

        <div fxFlex="100" fxLayout="row" class="mb-2">
          <label fxFlex="35" class="label-control"></label>
          <div fxFlex="65" class="input-text">
            <select formControlName="instrumento" [attr.disabled]="instrumentoView" class=" form-control border-primary" name="instNP">
              <option value="" disabled selected>Seleccione...</option>
              <option *ngFor="let instrumento of instrumentoList" value={{instrumento.instrumento}}>{{instrumento.titulo}}</option>
            </select>
          </div>
        </div>

        <div fxFlex="100" fxLayout="row" class="mb-2">
          <label fxFlex="35" class="label-control">Estado</label>
          <div fxFlex="65" class="input-text">
            <select formControlName="estado" class="form-control border-primary" name="estado">
              <option value="" disabled selected>Seleccione...</option>
              <option value="ANULAD">Anulado</option>
              <option value="VIGENT">Vigente</option>
            </select>
          </div>
        </div>

        <div fxFlex="100" fxLayout="row" class="mb-2">
          <label fxFlex="35" class="label-control">Cuentas Contables</label>
          <div fxFlex="65" class="input-text">
            <select formControlName="cuenta" class="form-control border-primary" name="cuentac">
              <option value="" disabled selected>Seleccione...</option>
              <option *ngFor="let cuenta of dataSelectCueA" [value]="cuenta.cuenta">{{ cuenta.cuenta }} - {{ cuenta.glosa }}</option>
            </select>
          </div>
        </div>

        <div fxFlex="100" fxLayout="row" class="mb-2">
          <label fxFlex="35" class="label-control">Tipo Cuenta Contable</label>
          <div fxFlex="65" class="input-text">
            <select formControlName="tipoCuenta" class="form-control border-primary">
              <option value="" disabled selected>Seleccione...</option>
              <option value="D">Debe</option>
              <option value="H">Haber</option>
            </select>
          </div>
        </div>

    </div>

    <div fxFlex="100" fxLayout="row">
      <div fxFlex="50" fxLayoutAlign="left">
        <button type="button" class=" btn btn-raised gradient-mint white shadow-z-1-hover mr-1" (click)="openAdmin()">
          Registrar Cuentas
        </button>
      </div>
      <div fxFlex="50" fxLayoutAlign="end">
        <button type="submit" class="btn btn-raised btn-primary shadow-z-1-hover mr-2">
          Guardar Asignación
        </button>
      </div>
    </div>

  </form>

  <!--TABLA-->

  <div class="form-actions">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
          <div class="col-md-12">
            <section id="filter">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="card-block pr-2 pl-2">

                        <dx-data-grid class="max-width-100"
                          id="gridContainer"
                          [dataSource]="rowsCCI"
                          [showRowLines]="true"
                          [rowAlternationEnabled]="true"
                          [allowColumnReordering]="true"
                          [showBorders]="true"
                          [showColumnLines]="false"
                          [wordWrapEnabled]="true"
                          (onRowRemoved)="eliminarCCI($event)"><!-- Inicio de la tabla de cuentas contables instrumento -->

                          <dxo-load-panel [enabled]="true"></dxo-load-panel>
                          <dxo-paging [enabled]="false"></dxo-paging>
                          <dxo-editing
                            mode="form"
                            [allowDeleting]="true"
                            [useIcons]="true">
                            <dxo-texts confirmDeleteMessage="Se eliminará la asignación cuenta con instrumento!">
                            </dxo-texts>
                          </dxo-editing>
                          <dxi-column dataField="cuenta" caption="Numero Cuenta" dataType="number" alignment="left" [width]="170">
                          </dxi-column>
                          <dxi-column dataField="glosainst" caption="Instrumento / M De Pago" alignment="left" [width]="324">
                          </dxi-column>
                          <dxi-column dataField="estado" caption="Estado" alignment="left" [width]="100">
                          </dxi-column>
                          <dxi-column dataField="glosatipocuenta" caption="Tipo de Cuenta" alignment="left" [width]="96">
                          </dxi-column>
                        </dx-data-grid><!-- Fin de la tabla de cuentas contables instrumento -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--FIN TABLA-->

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary btn-raised" (click)="cerrar()">Close</button>
</div>
