<section id="horizontal-form-layouts">
  <div class="row">
    <div class="col-md-12">
      <div class="card"><!-- Inicio del card para la busqueda de cuentas contables por fecha -->
        <div class="card-body">
          <div class="px-3">
            <div class="form-body">
              <form class="form form-horizontal" name="frmTipoCambio"> <!-- Inicio busqueda de transacciones por fecha -->

                <div class="card-header"><!-- Inicio titulo de la cabecera -->
                  <h4 class="card-title"><i class="ft-list"></i>Voucher Contable</h4>
                </div><!-- Fin titulo de la cabecera -->

                <div class="row"><!-- Inicio busqueda por fecha -->

                  <div class="col-md-6"><!-- Inicio seleccionar fecha -->
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Fecha:</label>
                      <div class="input-text">
                        <input class="form-control border-primary" placeholder="dd-mm-yyyy" name="ss" maxlength="10" readonly
                               [(ngModel)]="fechaIni" ngbDatepicker #d1="ngbDatepicker">
                      </div>
                      <div class="input-group-append">
                        <div class="input-group-text border-primary" (click)="d1.toggle()">
                          <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                      </div>
                    </div>
                  </div><!-- Fin seleccionar fecha -->

                  <div><!-- Inicio boton buscar -->
                    <div class="form-group row">
                      <div>
                        <button type="button" class="btn btn-raised btn-primary shadow-z-1-hover mr-1"
                                (click)="buscar()">
                          <i class="fa ft-search"></i> Buscar
                        </button>
                        <button class="btn btn-raised gradient-mint white shadow-z-1-hover" (click)="openAsignacion()">
                          Asignación Instrumentos Ctas Contables
                        </button>
                      </div>
                    </div>
                  </div><!-- Fin boton buscar -->

                </div><!-- Fin busqueda por fecha -->

              </form><!-- Fin busqueda de transacciones por fecha -->

              <div class="form-actions"><!-- Inicio tabla de cuentas contables -->
                <div class="row">
                  <div class="col-md-12">

                    <input type="number" style="padding:8px;margin:15px auto;width:30%;" placeholder="Filtrar por numero de cuenta" [formControl]="controlFilter"/>
                    <ngx-datatable id="tabla-trans" [columnMode]="'force'" [rows]="dataFilterVoucher"
                                   [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="50">

                      <ngx-datatable-column prop="fechaRecaudacion" name="Hora Trx"></ngx-datatable-column>
                      <ngx-datatable-column prop="productoCuenta" name="Glosa cta"></ngx-datatable-column>
                      <ngx-datatable-column [width]="250" prop="cuentaContable" name="Cuenta Contable"></ngx-datatable-column>
                      <ngx-datatable-column prop="tipoCuenta" name="Anotación"></ngx-datatable-column>
                      <ngx-datatable-column [width]="250" prop="titulo" name="Instrumento / M de pago"></ngx-datatable-column>
                      <ngx-datatable-column prop="currency" name="Moneda"></ngx-datatable-column>
                      <ngx-datatable-column prop="currencyConvertion" name="Conversión"></ngx-datatable-column>
                      <ngx-datatable-column prop="detmonto" name="Monto">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <div style="text-align: right">
                            <a>{{row['detmonto'] | number }}</a>
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column prop="ticketfolio" name="Ticket xCash"></ngx-datatable-column>

                    </ngx-datatable>
                  </div>
                </div>
              </div><!-- Fin tabla de cuentas contables -->
            </div>
          </div>
        </div>
      </div><!-- Fin del card para la busqueda de cuentas contables por fecha -->

    </div>
  </div>
</section>
