<section id="horizontal-form-layouts">
  <div class="row">
    <div class="col-md-12">
      <div class="card"><!-- Inicio del card para la busqueda de cuentas contables por fecha -->
        <div class="card-body">
          <div class="px-3">
            <div class="form-body pb-3">
              <form class="form form-horizontal" name="frmTipoCambio"> <!-- Inicio busqueda de transacciones por fecha -->

                <div class="card-header"><!-- Inicio titulo de la cabecera -->
                  <h4 class="card-title"><i class="ft-list"></i>Voucher Contable</h4>
                </div><!-- Fin titulo de la cabecera -->

                <div class="row"><!-- Inicio busqueda por fecha -->

                  <div class="col-md-6"><!-- Inicio seleccionar fecha -->
                    <div class="form-group row">
                      <label class="col-md-3 label-control">Fecha:</label>
                      <div class="input-text">
                        <input class="form-control border-primary" (dateSelect)="buscar()" placeholder="dd-mm-yyyy" name="ss"
                               maxlength="10" readonly [(ngModel)]="fechaIni" ngbDatepicker #d1="ngbDatepicker">
                      </div>
                      <div class="input-group-append">
                        <div class="input-group-text border-primary" (click)="d1.toggle()">
                          <i class="fa fa-calendar" style="cursor: pointer;"></i>
                        </div>
                      </div>
                    </div>
                  </div><!-- Fin seleccionar fecha -->

                  <div><!-- Inicio boton buscar -->
                    <div class="form-group row">
                      <div>
                        <button class="btn btn-raised gradient-mint white shadow-z-1-hover" (click)="openAsignacion()">
                          Asignación Instrumentos Ctas Contables
                        </button>
                      </div>
                    </div>
                  </div><!-- Fin boton buscar -->

                </div><!-- Fin busqueda por fecha -->

              </form><!-- Fin busqueda de transacciones por fecha -->

              <div class="form-actions"><!-- Inicio tabla de cuentas contables -->
                <div class="row">
                  <div class="col-md-12 table-main">
                    <dx-data-grid class="max-width-none"
                                  id="gridContainer"
                                  [dataSource]="dataVoucher"
                                  [showRowLines]="true"
                                  [rowAlternationEnabled]="true"
                                  [allowColumnReordering]="true"
                                  [showBorders]="true"
                                  [showColumnLines]="false"
                                  [wordWrapEnabled]="true"><!-- Inicio de la tabla de voucher -->

                      <dxo-load-panel [enabled]="true"></dxo-load-panel>
                      <dxo-paging [enabled]="false"></dxo-paging>
                      <dxo-search-panel [visible]=true placeholder="Buscar...">
                      </dxo-search-panel>

                      <dxi-column dataField="fechaRecaudacion" caption="Hora Trx" alignment="left">
                      </dxi-column>
                      <dxi-column dataField="productoCuenta" caption="Glosa cta" alignment="left" [visible]="false">
                      </dxi-column>
                      <dxi-column dataField="cuentaContable" caption="Cuenta Contable"[customizeText]="onEditorPreparingCC" alignment="left" [width]="175">
                      </dxi-column>
                      <dxi-column dataField="titulo" caption="Instrumento / M de pago" alignment="left" [width]="320">
                      </dxi-column>
                      <dxi-column dataField="tipoCuenta" caption="Tipo Cuenta" alignment="left">
                        <dxo-lookup [dataSource]="tipoCuenta" displayExpr="value" valueExpr="id"></dxo-lookup>
                      </dxi-column>
                      <dxi-column dataField="currency" caption="Moneda" alignment="left">
                      </dxi-column>
                      <dxi-column dataField="currencyConvertion" caption="Conversión" alignment="left" [visible]="false">
                      </dxi-column>
                      <dxi-column dataField="monto" caption="Monto" format=",###,###,##0" [customizeText]="onEditorPreparing" [width]="175" alignment="right">
                      </dxi-column>
                      <dxi-column dataField="ticketfolio" caption="Ticket xCash" alignment="left">
                      </dxi-column>
                    </dx-data-grid><!-- Fin de la tabla de voucher -->
                  </div>
                </div>
              </div><!-- Fin tabla de cuentas contables -->
            </div>
          </div>
        </div>
      </div><!-- Fin del card para la busqueda de cuentas contables por fecha -->

    </div>
  </div>
</section>
