<section id="horizontal-form-layouts">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <div class="form-body">
              <form class="form form-horizontal">
                <div class="card-header">
                  <h4 class="card-title"><i class="ft-list"></i>Instrumentos</h4>
                </div>

                <dx-data-grid id="tableTurno" class="mb-3 max-width-none"
                              [dataSource]="instrumentos"
                              keyExpr="instrumento"
                              [showRowLines]="true"
                              [rowAlternationEnabled]="true"
                              [allowColumnReordering]="true"
                              [showBorders]="true"
                              [showColumnLines]="false"
                              [wordWrapEnabled]="true" [noDataText]="noDataText"
                              (onRowUpdated)="editarIns($event)"
                              (onRowInserted)="addIns($event)"
                              (onRowValidating)="validarIns($event)"
                              (onEditorPreparing)="onEditorPreparing($event)">

                  <dxo-editing
                    mode="form"
                    [allowUpdating]="true"
                    [allowAdding]="true"
                    [useIcons]="true">
                    <dxo-texts saveRowChanges="Guardar" cancelRowChanges="Cancelar" editRow="Editar" >
                    </dxo-texts>
                  </dxo-editing>

                  <dxi-column dataField="instrumento" caption="Instrumento"></dxi-column>
                  <dxi-column dataField="titulo" caption="Titulo" [width]="200"></dxi-column>
                  <dxi-column dataField="tipo" caption="Tipo">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                    <dxo-lookup [dataSource]="tipos" displayExpr="glosa" valueExpr="item"></dxo-lookup>
                  </dxi-column>
                  <dxi-column dataField="empresa" caption="Empresa" [width]="200">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                    <dxo-lookup [dataSource]="empresas" displayExpr="titulo" valueExpr="codigo"></dxo-lookup>
                  </dxi-column>
                  <dxi-column dataField="bloqueado" caption="Estado">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                    <dxo-lookup [dataSource]="estados" displayExpr="value" valueExpr="id"></dxo-lookup>
                  </dxi-column>
                  <dxi-column dataField="control" caption="Control"></dxi-column>
                  <dxi-column dataField="saf" caption="SAF"></dxi-column>
                  <dxi-column dataField="standIn" caption="Interaccion">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                    <dxo-lookup [dataSource]="interacciones" displayExpr="glosa" valueExpr="item"></dxo-lookup>
                  </dxi-column>
                  <dxi-column dataField="moneda" caption="Moneda"></dxi-column>
                </dx-data-grid>

              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
