/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.card-title {
    color:  #03488a !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
    padding-bottom: 10px !important;
    font-weight: 600 !important;
  }
  .datatable-header-cell-template-wrap {
    background-color: rgba(0, 140, 201, 0.6);
    padding-top: 8px;
    border-collapse: collapse;
    text-align: center;
    color: white;
    border: 1px solid white;
    vertical-align: bottom; 
    height: 40px !important;
  }
  .datatable-header {
    height: 40px !important;
  }
  .ng-reflect-header-height {
    height: 40px;
  }
  .datatable-body-cell {
    border-collapse: collapse;
    border-width: 1px 0 0 0;
    border-style:solid;
    border-color: #e6e6e6;
    padding: 3px;
    color: #646464;
    text-align: center;
    vertical-align: middle; 
  }
  .datatable-row-even {
    background-color: #f2f2f2;
  }
  .datatable-body-cell-label {
    text-align: center;
    vertical-align: middle; 
    padding: 10px;
  }
  .datatable-row-center:hover {
    background-color: #dddddd;
  }
  .datatable-footer {
    background-color: #b4b4b4;
    padding: 3px;
    color:white;
    width: 15% !important;
    text-align: center;
    border-radius: 10px;
  }
  .col-sm-6 {
    width: 90% !important;
    padding: 8px;
    float:none;
  }
  .text-right {
    text-align: center;
    float:none;
  }
  @media screen and (max-width:992px) and (min-width:641px) {
  #horizontal-form-layouts {
    width:100%;
  }
  .container-fluid {
    width: 100% !important;
  }
  .card {
  padding: 8px !important;
  }
    .px-3  {
        display: block;
        overflow: auto;
    }
    .form-body {
      width: 850px !important;
  }
  .navbar {
    width: 100%;
    height: 80px;
  }
  .navbar-header {
  padding: 0px !important;
  width: 40%;
  height: 80px;
  float: left;
  }
  .navbar-container {
        padding: 0px !important;
        width: 45%;
        height: 80px;
        float: right;
  }
  .collapse {
      width: 100%;
      float: right;
      height: 80px;
      display: block !important;
  }
  .navbar-nav {
        width: 50%;
        padding-top:12px;
        height: 80px;
        float: right;
        text-align: right;
  }
  .nav-item {
      padding: 0px !important;
  }
  #navbarSupportedContent {
    width: 100%;
    padding: 0px !important;
    height: 80px;
    float: right !important;
  }  
  }
  @media screen and (max-width:640px) {
    #horizontal-form-layouts {
      width:100%;
    }
    .container-fluid {
      width: 100% !important;
  }
  .card {
    padding: 8px !important;
  }
      .px-3  {
          display: block;
          overflow: auto;
      }
      .form-body {
        width: 850px !important;
    }
    .navbar {
      width: 100%;
      height: 80px;
  }
  .navbar-header {
    padding: 0px !important;
    width: 40%;
    height: 80px;
    float: left;
  }
  .navbar-container {
          padding: 0px !important;
          width: 45%;
          height: 80px;
          float: right;
      }
  .collapse {
        width: 100%;
        float: right;
        height: 80px;
        display: block !important;
    }
  .navbar-nav {
          width: 55%;
          padding-top:12px;
          height: 80px;
          float: right;
          text-align: right;
          margin-right: 2%;
      }
  .nav-item {
        padding: 0px !important;
    }
  #navbarSupportedContent {
      width: 100%;
      padding: 0px !important;
      height: 80px;
      float: right !important;
  }
    }
  @media screen and (max-width:480px) {
  #horizontal-form-layouts {
        width:100%;
      }
  .container-fluid {
        width: 100% !important;
  }
  .card {
  padding: 8px !important;
  }
  .px-3  {
            display: block;
            overflow: auto;
  }
  .form-body {
          width: 850px !important;
      }
  .input {
      width: 100% !important;
      float: left;
  }
  .navbar {
    width: 100%;
    height: 80px;
  }
  .navbar-header {
  padding: 0px !important;
  width: 40%;
  height: 80px;
  float: left;
  }
  .navbar-container {
        padding: 0px !important;
        width: 45%;
        height: 80px;
        float: right;
    }
  .collapse {
      width: 100%;
      float: right;
      height: 80px;
      display: block !important;
  }
  .navbar-nav {
        width: 90%;
        padding-top: 12px !important;
        height: 80px;
        float: right;
        text-align: right;
    }
    .nav-item {
      padding: 0px !important;
  }
  #navbarSupportedContent {
    width: 100%;
    padding: 0px !important;
    height: 80px;
    float: right !important;
  }
    
      }

