<div *ngIf="divEnabledDetOper">
  <app-operaciones-detalle [datOprII] = "oprLevelII" [pagina] = "pag" [fechaDesde]="fechaDesde" [fechaHasta]="fechaHasta"
    [rex]="rex" [rexDesc]="rexDesc" [sucursal]="sucursal" [sucDesc]="sucDesc" [terminal]="terminal" [terDesc]="terDesc"></app-operaciones-detalle>
</div>
<div *ngIf="!divEnabledDetOper">
<section id="horizontal-form-layouts"> 
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="px-3">
              <form class="form form-horizontal">
                <div class="form-body">
                    <form class="form form-horizontal" name="frmMon" #f="ngForm">
                        <div *ngIf="pagina == 'turnos-abiertos'">
                        <h4 class="form-section">Montos del turno</h4>  
                          </div>                
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-md-5 label-control" for="rexDesc">Empresa (REX):</label>
                            <div class="col-md-6">
                                <div class="input-text">
                                    {{rexDesc}}
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-md-5 label-control" for="sucDesc">Sucursal:</label>
                              <div class="col-md-6">
                                  <div class="input-text">
                                      {{sucDesc}}
                                  </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-md-5 label-control" for="terDesc">Terminal:</label>
                              <div class="col-md-6">
                                  <div class="input-text">
                                      {{terDesc}}
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group row">
                                <label class="col-md-5 label-control" for="apertura">Apertura:</label>
                                <div class="col-md-6">
                                    <div class="input-text">
                                        {{apertura}}
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label class="col-md-5 label-control" for="total">Total:</label>
                                <div class="col-md-6">
                                    <div class="input-text">
                                        {{total}}
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </form>
                  <div class="form-actions"> 
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <div class="col-md-12">
                              <section id="filter">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="card">
                                      <div class="card-body">
                                        <small *ngIf="msj" class="label label danger">{{msj}}</small>
                                        <div class="card-block" *ngIf="divList">
                                          <ngx-datatable #tabMon class="bootstrap" [columnMode]="'force'" [rows]="rows" [headerHeight]="50" [rowHeight]="'auto'"
                                            [limit]="5">
                                            <ngx-datatable-column prop="titulo" name="Medio pago"></ngx-datatable-column>
                                            <div *ngIf="pagina == 'turnos'">
                                              <ngx-datatable-column prop="monto" name="Monto">
                                                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                                  let-row="row">
                                                  <div style="text-align: right">
                                                    <a>{{row['monto'] | number}}</a>
                                                  </div>
                                                </ng-template>
                                              </ngx-datatable-column>
                                            </div>                                          
                                            <div *ngIf="pagina == 'turnos-abiertos'">
                                                <ngx-datatable-column>
                                                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                                      <div *ngIf="row.control == 'S'">
                                                        <input type="text" id="monto" class="form-control border-primary" name="monto" value="{{row.monto | number}}"
                                                          (blur)="updateMontoValue($event, 'monto', rowIndex)" (onkeyup)="format($event, 'monto', rowIndex)"
                                                          (onchange)="format($event, 'monto', rowIndex)" style="text-align: right" min="0" maxlength="12">
                                                      </div>
                                                      <div *ngIf="row.control == 'N'">
                                                        <input type="text" id="monto" [disabled]="disabled" class="form-control border-primary" name="monto"
                                                          value="{{row.monto | number}}" (blur)="updateMontoValue($event, 'monto', rowIndex)" style="text-align: right" >
                                                      </div>
                                                    </ng-template>
                                                </ngx-datatable-column> 
                                            </div>                                                       
                                          </ngx-datatable>                                          
                                        </div>
                                        <div *ngIf="pagina == 'turnos-abiertos'">
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-info btn-raised" (click)="onVolver()">Volver</button>
                                            <button type="button" class="btn btn-secondary btn-raised" ngbPopover="Recuerde colocar el monto de apertura" (click)="open(content)">Cerrar turno</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <ng-template #content let-c="close" let-d="dismiss">
                                    <div class="modal-header">                              
                                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div> 
                                    <div class="modal-body">
                                      <label class="col-md-6 label-control" for="msjModal">{{msjModal}}</label>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary btn-raised" (click)="cerrarTurno(); c('Close click')">Aceptar</button>
                                    </div>
                                  </ng-template>                                  
                              </section>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div> 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>