<section id="horizontal-form-layouts">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <div class="form-body">
              <div *ngIf="listTurno else detalle" class="form form-horizontal">
                <div class="card-header">
                  <h4 class="card-title"><i class="ft-list"></i>Consulta de Turno</h4>
                </div>

                <dx-data-grid id="tableTurno" class="mb-3 max-width-none"
                              [dataSource]="turnoData"
                              keyExpr="turno"
                              [showRowLines]="true"
                              [rowAlternationEnabled]="true"
                              [allowColumnReordering]="true"
                              [showBorders]="true"
                              [showColumnLines]="false"
                              (onRowClick)="openDetalle($event)"
                              [wordWrapEnabled]="true" [noDataText]="noDataText">

                  <dxo-export [enabled]="true"></dxo-export>
                  <dxi-column dataField="usuario" caption="Usuario" [groupIndex]="0"></dxi-column>
                  <dxi-column dataField="numero" caption="Numero" [width]="100"></dxi-column>
                  <dxi-column dataField="turno" caption="Turno" [width]="150"></dxi-column>
                  <dxi-column dataField="terminal" caption="Terminal" [width]="150"></dxi-column>
                  <dxi-column dataField="estado" caption="Estado" [width]="100" [customizeText]="onEditorPreparingEstado"></dxi-column>
                  <dxi-column dataField="fecha" caption="Fecha Cierre" [width]="150"></dxi-column>
                  <dxi-column dataField="apertura" caption="Apertura" [customizeText]="onEditorPreparingDetalle"
                              alignment="left" [encodeHtml]="false"></dxi-column>
                  <dxi-column dataField="mediosdepago" caption="Total" [customizeText]="onEditorPreparingDetalle"
                              alignment="left" [encodeHtml]="false"></dxi-column>
                  <dxi-column dataField="cierre" caption="Cierre" [customizeText]="onEditorPreparingDetalle"
                              alignment="left" [encodeHtml]="false"></dxi-column>
                </dx-data-grid>

              </div>

              <ng-template #detalle>
                <app-turno-ope [busqueda]="busqueda" (view)="mostrarLista($event)"></app-turno-ope>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
