<section id="horizontal-form-layouts">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <div class="form-body">
              <form class="form form-horizontal">
                <div class="card-header">
                  <h4 class="card-title">Consulta de Journal</h4>
                </div>
              </form>
              <div class="form-actions">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <div class="col-md-12">
                        <section id="filter">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="card">
                                <div class="card-body">
                                  <div class="card-block">
                                    <dx-data-grid id="tableTurno" class="mb-3 max-width-none"
                                                  [dataSource]="journal"
                                                  [showRowLines]="true"
                                                  [rowAlternationEnabled]="true"
                                                  [allowColumnReordering]="true"
                                                  [showBorders]="true"
                                                  [showColumnLines]="false"
                                                  [wordWrapEnabled]="true" [noDataText]="noDataText">

                                      <dxo-export [enabled]="true"></dxo-export>
                                      <dxi-column dataField="eventData" caption="Evento"></dxi-column>
                                      <dxi-column dataField="eventDate" caption="Fecha"></dxi-column>
                                      <dxi-column dataField="terminal" caption="Terminal"></dxi-column>
                                    </dx-data-grid>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
