<div class="row">
	<div class="col-12">
		<!-- Kick start -->
		<div id="kick-start" class="card">
			<div class="card-header">
				<h4 class="card-title">xCash</h4>
			</div>
			<div class="card-body p-2">
				<div class="card-block">
					<div class="card-text">
						<p>
							<span class="text-bold-600 mt-2">Suite de Productos</span>
						</p>
						<p>Extensible Cash® (xCash®) es una suite de productos de última generación, que provee aplicaciones para el control integral
							de los flujos de valores de una empresa, ya sean recaudaciones, intercambio de valores, operaciones financieras, o
							ventas de Intangibles. Sus distintos módulos satisfacen las necesidades desde el frontend de cajas al backend de una
							empresa.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--/ Kick start -->
	</div>
</div>
